body {
  background-color: #E5E5E5;
  font-family: sans-serif;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #676464;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0;
  border: 6px solid white;
}

h1 {
  font-weight: bold;
  font-size: 32px;
  line-height: 46px;
  color: #000000;
  text-align: center;
}

h2 {
  text-align: center;
}

.input-item-title {
  margin-bottom: 10px;
  font-size: 18px;
}

.input-item {
  margin: auto;
}

.translate{
  color: white;
}

input[type='text'] {
  font-family: cursive;
  cursor: pointer;
}

input[type='text']:hover {
  box-shadow: 0 0 10px blue;
}

#add-word-btn:hover {
  background: #FFF;
  color: black;
  box-shadow: 0 0 10px blue;
}

.input.error{
  border: 1px solid red;
}

table {
  width: 300px;
}

.tr {
  position: relative;
}

.btn-delete {
  background: blue;
  width: 304px;
  height: 40px;
  margin: 10px auto;
  border: 2px solid blue;
  border-radius: 10px;
  color: #FFF;
  font-weight: 700;
  font-size: 16px;
}

button {
  cursor: pointer;
}

.eng-word {
  font-weight: bold;
  font-size: 35px;
  margin: 54px 0;
}

.rus-word {
  font-weight: bold;
  font-size: 35px;
  margin: 54px 0;
}

a {
  color: #0033cc;
}

table p{

}

#add-word-btn {
  background: blue;
  border: 2px solid blue;
  height: 56px;
  font-size: 16px;
  margin-top: 9px;
  width: 304px;
  margin-bottom: 9px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  border-radius: 10px;
  color: #FFF;
}

table {
  display: flex;
  text-align: center;
  margin-top: 0;
}

tbody{
  display: block;
  margin: auto;
}

.inputs-block p {
  text-align: center;
  color: red;
}

.gap{
  height: 15px;
}

input {
  background: #FFFFFF;
  box-shadow: 0 0 3px blue;
  width: 280px;
  border: 2px solid blue;
  border-radius: 10px;
  height: 56px;
  padding-left: 18px;
  outline: none;
}

.inputs-block {
  display: flex;
  flex-direction: column;
}

.card_eng_word {
  background: deepskyblue;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px blue;
  text-align: center;
  font-family: cursive;
}

.card_rus_word {
  background: deepskyblue;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px blue;
  text-align: center;
  font-family: cursive;
}

.text_rus_word {
  padding: 10px;
  background: grey;
  border-radius: 10px;
  height: 30px;
  line-height: 25px;
  color: #FFF;
  font-weight: 700;
  cursor: default;
  font-family: sans-serif;
}

.text_eng_word {
  padding: 10px;
  background: grey;
  border-radius: 10px;
  height: 30px;
  line-height: 25px;
  color: #FFF;
  font-weight: 700;
  cursor: default;
  font-family: sans-serif;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.words_not_visible {
  text-align: center;
  font-size: 18px;
  font-style: italic;
}

.btn-delete:hover {
  background: #FFF;
  color: black;
}

.button {
  display: flex;
}

.card {
  width: 300px;
  margin: auto;
}

@media (min-width: 768px){
  .flex {
    display: flex;
    justify-content: space-around;
    gap: 8px;
  }

  #add-word-btn {
    margin-top: 0;
    margin-bottom: 0;
    height: 62px;
  }

  input {
    width: 416px;
  }

  h2 {
    text-align: left;
    padding-left: 15px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    width: 330px;
    margin: auto;
  }
}

@media (min-width: 1024px){
  .flex {
    display: flex;
    justify-content: center;
    gap: 35px;
  }

  #add-word-btn {
    width: 526px;
  }

  #eng {
    display: flex;
    justify-content: center;
    margin: auto;
  }
}