body {
  background-color: #E5E5E5;
  font-family: sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 32px;
  line-height: 46px;
  color: #000000;
  text-align: center;
}

.input-item-title {
  margin-bottom: 10px;
  font-size: 18px;
}

.translate{
  color: white;
}

input[type='text'] {
  font-family: cursive;
}

#add-word-btn:hover {
  background: #FFF;
  color: black;
}

.input.error{
  border: 1px solid red;
}

table {
  display: flex;
  flex-direction: column;
  margin-left: -84px;
  text-align: center;
  margin-top: -58px;
}

table {
  width: 300px;
}

.tr {
  position: relative;
}

.btn-delete {
  background-image: url('../img/btn_delete.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: none;
}

.eng-word {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  letter-spacing: 0.03em;
  color: #000000;
  flex: none;
  order: 0;
  align-self: center;
  margin: 40px 0;
}

.rus-word {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 35px;
  line-height: 43px;
  letter-spacing: 0.03em;
  color: #000000;
  flex: none;
  order: 1;
  align-self: center;
  margin: 40px 0;
}

a {
  color: #0033cc;
}

table p{

}

#add-word-btn {
  background: blue;
  border: 2px solid blue;
  height: 56px;
  font-size: 16px;
  margin-top: 9px;
  width: 304px;
  margin-bottom: 9px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  border-radius: 10px;
  color: #FFF;
  box-shadow: 0 0 10px black;
}

table {
  display: flex;
  flex-direction: column;
  margin-left: -132px;
  text-align: center;
  margin-top: -58px;
}

tbody{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.inputs-block p {
  text-align: center;
  color: red;
}

.gap{
  height: 15px;
}

input {
  background: #FFFFFF;
  box-shadow: 0 0 3px blue;
  width: 280px;
  border: 2px solid blue;
  border-radius: 10px;
  height: 56px;
  padding-left: 18px;
  outline: none;
}

.inputs-block {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px){
  .flex {
    display: flex;
    justify-content: space-around;
    gap: 8px;
  }

  #add-word-btn {
    margin-top: 0;
    margin-bottom: 0;
    height: 62px;
  }

  input {
    width: 416px;
  }
}

@media (min-width: 1024px){
  .flex {
    display: flex;
    justify-content: flex-start;
    gap: 150px;
  }
}